<nav>
  <div><span [routerLink]="['form1']">Form</span></div>
  <br>
  <button (click)="goToForm2()">Form2</button>
  <button (click)="userTable()">User Table</button>
</nav>
<hr>
<div>
  <router-outlet></router-outlet>
</div>
<!-- <div>
  <h2>Get Request (https://jsonplaceholder.typicode.com/comments)</h2>
  <table>
    <tr>
     <th>Id  </th>
    <th>POST ID</th>
    <th>Name </th>
    <th>email  </th>
    <th>Body  </th>
    </tr>
    <tr *ngFor="let com of lstComments">
      <td>{{com.id}}</td>
      <td>{{com.postId}}</td>
      <td>{{com.name}}</td>
      <td>{{com.email}}</td>
      <td>{{com.body}}</td>

    </tr>
  </table>
</div> -->