<div>
    <h2>Get Request (https://jsonplaceholder.typicode.com/comments)</h2>
    <table class= "table">
      <tr>
       <th>Id  </th>
      <th>POST ID</th>
      <th>Name </th>
      <th>email  </th>
      <th>Body  </th>
      </tr>
      <tr *ngFor="let com of lstComments">
        <td>{{com.id}}</td>
        <td>{{com.postId}}</td>
        <td>{{com.name}}</td>
        <td>{{com.email}}</td>
        <td>{{com.body}}</td>
  
      </tr>
    </table>
    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li *ngFor="let i of lstComments; let in =index" class="page-item">
          <a class="page-link" (click)="updateIndex(in)" >{{in+1}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav> -->
  </div>
  <div>
    <h2>Get request (Using Parameters) (https://jsonplaceholder.typicode.com/posts)</h2>
    <table class= "table">
      <tr>
        <th>Id  </th>
       <th>User ID</th>
       <th>Title </th>
       <th>Body  </th>
       </tr>
       <tr *ngFor="let com of lstPosts">
        <td>{{com.id}}</td>
        <td>{{com.userId}}</td>
        <td>{{com.title}}</td>
        <td>{{com.body}}</td>
  
      </tr>

    </table>
  </div>
  <div>
    <h2>Post data returned (https://jsonplaceholder.typicode.com/posts)</h2>
    <p>id: {{objPosts?.id}}</p>
    <p>id: {{objPosts?.userId}}</p>
    <p>id: {{objPosts?.title}}</p>
    <p>id: {{objPosts?.body}}</p>
  </div>
  <div>
    <h2>Put data returned (https://jsonplaceholder.typicode.com/posts/1)</h2>
    <p>id: {{objPuts?.id}}</p>
    <p>id: {{objPuts?.userId}}</p>
    <p>id: {{objPuts?.title}}</p>
    <p>id: {{objPuts?.body}}</p>
  </div>